<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    
    <%- include('../partials/header.ejs'); -%>
    <div class="container">
        <h1>HIMMI HOTELS</h1>
        <!-- Iterate over the hotels data -->
        <% hotels.forEach(hotel => { %>
            <div class="hotel-card">
                <!-- Display hotel photo -->
                <img src='<%= hotel.photo_url %>' alt="<%= hotel.name %>">
                <!-- Display hotel name -->
                <h2><%= hotel.name %></h2>
                <!-- Display hotel description -->
                <p><%= hotel.description %></p>
                <!-- Display hotel rating -->
                <p>Rating: <%= hotel.rating %></p>
                <!-- Button to see more details -->
                <a href="/hotel/<%= hotel.id %>" class="btn btn-primary">See More</a>
            </div>
        <% }); %>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('../partials/footer.ejs'); -%>

</body>
</html>

